body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #336B87;
  color: #2A3132;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3132;
}

li {
    float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #763626;
}

li.float-right {
  float: right;
}

/*.active {
    background-color: #4CAF50;
}*/

div.track-div {
  border: 1px solid #90AFC5;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
  position: relative;
  margin: 10px;
  background-color: #90AFC5;
}

a.track-link {
  color: #2A3132;
  text-decoration: none;
}

a.track-link:hover {
  color: #763626;
}

div.lesson-div {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
}

.center-align {
  text-align: center;
  margin-left: 33%;
}
