body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #336B87;
  color: #2A3132;
}

div { /* remove once finalized */
  /*border: 2px solid #763626;*/
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2A3132;
}

li {
    float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #763626;
}

li.float-right {
  float: right;
}

/*.active {
    background-color: #4CAF50;
}*/

div.track-div {
  border: 1px solid #90AFC5;
  border-radius: 5px;
  line-height: inherit;
  padding: 20px;
  position: relative;
  margin: 10px;
  background-color: #90AFC5;
  overflow: auto;
}

a.track-link {
  color: #2A3132;
  text-decoration: none;
}

a.track-link:hover {
  color: #763626;
}

div.lesson-div {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
  background-color: #fff;
  overflow: auto;
}

.center-align {
  text-align: center;
  display: block;
  margin: auto;
  width: 50%;
  position: relative;
}

.inline-block {
  display: inline-block;
  float: left;
  /*clear: both;*/
}

.block {
  display: block;
  /*float: left;*/
}

.inline {
  display: inline;
  float: left;
}

.kana-textarea { /* not working */
  width: 100px;
  height: 100px;
  font-size: 60px;
  text-align: center;
  margin-left: 40%;
}

.kana-quiz-text {
  font-size: 60px;
  /*text-align: center;*/
  position: relative;
  float: left;
  width: 18%;
  /*clear: right;*/
  /*overflow: hidden;*/
}

.kana-quiz-input {
  font-size: 60px;
  text-align: center;
  position: relative;
}

.center-btn {
  text-align: center;
}

.next-lesson-btn {
  border-radius: 4px;
  background-color: #763626;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
  clear: both;
}

.next-lesson-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.next-lesson-btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.next-lesson-btn:hover span {
  padding-right: 25px;
}

.next-lesson-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.hiragana {
  font-size: 30px;
  padding-left: 10%;
  display: table-cell;
}
