body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

li.float-right {
  float: right;
}

/*.active {
    background-color: #4CAF50;
}*/

div.track-div {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
  position: relative;
  margin: 10px;
}

div.lesson-div {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
  position: relative;
  margin-bottom: 10px;
}
